#!/bin/sh

ipv4=$(ip -o -4 addr show scope global | awk '{print $4}' | cut -d/ -f1 | head -n1)
ipv6=$(ip -o -6 addr show scope global | awk '{print $4}' | cut -d/ -f1 | head -n1)

echo "IPv4:	${ipv4:-none}"
echo "IPv6:	${ipv6:-none}"
