---

- name: Remove .cache
  file:
    path: "/home/{{ username }}/.cache"
    state: absent
  become: true

- name: Remove .mozilla
  file:
    path: "/home/{{ username }}/.mozilla"
    state: absent
  become: true

- name: Remove .vscode
  file:
    path: "/home/{{ username }}/.vscode"
    state: absent
  become: true

- name: Find all .desktop files on Desktop
  ansible.builtin.find:
    paths: "/home/{{ username }}/Desktop"
    patterns: "*.desktop"
  register: desktop_files

- name: Delete matched .desktop files
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ desktop_files.files }}"
