#!/usr/bin/env bash
# This script clears the /tmp directory
#
# (c) Toms Grants, MIT License
# {{ source_url }}
#
# Last updated: 2025-08-31
# File created: {{ ansible_date_time.date }}

sudo rm -r /tmp
sudo mkdir /tmp
sudo chmod 1777 /tmp
