#!/usr/bin/env bash
# This script clears the /tmp directory
#
# (c) Toms Grants, MIT License
# {{ source_url }}
#
# Last updated: 2025-09-04
# File created: {{ ansible_date_time.date }}

sudo rm -r /tmp/*
sudo rm -r /tmp/.??*
