#!/usr/bin/env python3
# This script collects and sends telemetry data
#
# (c) Toms Grants, MIT License
# {{ source_url }}
#
# Last updated: 2026-01-27
# File created: {{ ansible_facts.date_time.date }}

import configparser
import json
import requests

CONF = "/etc/dvm/dvm.conf"
NAME = "Combine"


def send(url, timeout, id, version):
	payload = {
		"id": id,
		"version": version,
	}
	headers = {
		"Content-Type": "application/json",
	}
	try:
		r = requests.post(
			url,
			data=json.dumps(payload),
			headers=headers,
			timeout=timeout,
		)
		print(r.status_code)
	except Exception as e:
		print(e)


if __name__ == "__main__":
	config = configparser.ConfigParser()
	config.read(CONF)
	update_config = False

	if not config.has_option("Global", "id"):
		print("No id")
	elif config.getboolean(NAME, "enabled"):
		send(
			config[NAME]["server"],
			int(config[NAME]["timeout"]),
			config["Global"]["id"],
			config["Global"]["version"],
		)
	else:
		print("Combine disabled")
	
	if update_config:
		with open(CONF, 'w') as configfile:
			config.write(configfile)
