#!/usr/bin/env python3
# This script collects and sends telemetry data
#
# (c) Toms Grants, MIT License
# {{ source_url }}
#
# Last updated: 2025-11-18
# File created: {{ ansible_facts.date_time.date }}

import json
import requests

DVM_ID_PATH = "/etc/dvm/id"
DVM_VERSION = "{{ version }}"
DVM_TELSERV = "{{ telemetry_url }}"
DVM_TIMEOUT = 10


def get_id():
	# File not found? Tuff shi unc 🥀
	with open(DVM_ID_PATH, 'r') as f:
		return f.read().strip()


def send():
	payload = {
		"id": get_id(),
		"version": DVM_VERSION,
		"available_storage": 0,
	}
	headers = {
		"Content-Type": "application/json",
	}
	try:
		r = requests.post(
			DVM_TELSERV,
			data=json.dumps(payload),
			headers=headers,
			timeout=DVM_TIMEOUT
		)
		print(r.status_code)
	except Exception as e:
		print(e)


if __name__ == "__main__":
	send()
