#!/usr/bin/env python3
# This script collects and sends telemetry data
#
# (c) Toms Grants, MIT License
# {{ source_url }}
#
# Last updated: 2026-01-19
# File created: {{ ansible_facts.date_time.date }}

import argparse
import configparser
import json
import requests
import time

CONF = "/etc/dvm/dvm.conf"
NAME = "Combine"


def send(url, timeout, id, version):
	payload = {
		"id": id,
		"version": version,
		"time": time.time(),
	}
	headers = {
		"Content-Type": "application/json",
	}
	try:
		r = requests.post(
			url,
			data=json.dumps(payload),
			headers=headers,
			timeout=timeout,
		)
		print(r.status_code)
	except Exception as e:
		print(e)


if __name__ == "__main__":
	parser = argparse.ArgumentParser(prog=NAME.lower())
	parser.add_argument("toggle", nargs="?", default="send", help="Toggle telemetry <on> or <off>")
	args = parser.parse_args()

	config = configparser.ConfigParser()
	config.read(CONF)
	update_config = False

	match args.toggle:
		case "send":
			if not config.has_option("Global", "Id"):
				print("No UUID")
			else if config.getboolean(NAME, "Enabled"):
				send(
					config[NAME]["Server"],
					int(config[NAME]["Timeout"]),
					config["Global"]["Id"],
					config["Global"]["Version"],
				)
			else:
				print("Combine disabled")
		case "on":
			config[NAME]['Enabled'] = "True"
			update_config = True
		case "off":
			config[NAME]['Enabled'] = "False"
			update_config = True
		case _:
			parser.print_help()
	
	if update_config:
		with open(CONF, 'w') as configfile:
			config.write(configfile)
