#!/usr/bin/env bash
# This script generates a unique ID for the VM
# Dependencies: uuidgen-runtime
#
# (c) Toms Grants, MIT License
# {{ source_url }}
#
# Last updated: 2025-10-20
# File created: {{ ansible_date_time.date }}

DVM_PATH=${1:-"/etc/dvm"}
ID_FILE_NAME=${1:-"id"}
ID_FILE="${DVM_PATH%/}/$ID_FILE_NAME"

echo "Generating ID at ${ID_FILE}"

if [ ! -f "$ID_FILE" ]; then
	mkdir -p $DVM_PATH
	uuidgen > "$ID_FILE"
	chmod 644 "$ID_FILE"
	chown root:root "$ID_FILE"
fi

echo "Done."
