#!/usr/bin/env bash
# This script generates a unique ID for the VM
# Dependencies: uuidgen-runtime
#
# (c) Toms Grants, MIT License
# {{ source_url }}
#
# Last updated: 2026-01-19
# File created: {{ ansible_facts.date_time.date }}

DVM_PATH=${1:-"/etc/dvm"}
CONF_FILE_NAME=${2:-"dvm.conf"}
CONF_FILE="${DVM_PATH%/}/$CONF_FILE_NAME"

echo "Generating ID in ${CONF_FILE}"

if grep -q "^Id =" "$CONF_FILE"
then
	echo "File already has an Id."
else
	uuid=$(uuidgen)
	sed -i "/^\[Global\]$/a Id = $uuid" "$CONF_FILE"
fi

echo "Done."
