#!/usr/bin/env bash
# This script installs mariadb and mysql packages for php
# Last updated: 2024-10-16
# File created: {{ ansible_date_time.date }}

sudo apt install php-mysql mariadb-server
sudo systemctl enable mariadb
sudo systemctl start mariadb
