#!/usr/bin/env bash
# This script installs node and npm
#
# (c) Toms Grants, MIT License
# {{ source_url }}
#
# Last updated: 2025-05-29
# File created: {{ ansible_date_time.date }}

sudo apt install nodejs npm
