#!/usr/bin/env bash
# This script installs mariadb and mysql packages for php
#
# (c) Toms Grants, MIT License
# {{ source_url }}
#
# Last updated: 2025-05-29
# File created: {{ ansible_facts.date_time.date }}

sudo apt install php-mysql mariadb-server
sudo systemctl enable mariadb
sudo systemctl start mariadb
