PHP development VM v{{ version_index }}
Created:  {{ ansible_date_time.date | strftime("%Y-%m-%d") }}

See this repository for more information:
https://github.com/tgrants/php-dev-vm-ansible

Included tools:
  - PHP and Composer
  - MariaDB and sqlite3
  - VSCode and Git
