dev-vm v{{ version }}
Created: {{ ansible_facts.date_time.date }}

See this repository for more information:
{{ source_url }}

Included tools:
  - PHP and Composer
  - Python
  - sqlite3
  - VSCode and Git

Next steps:
  - Update the system "sudo apt update && sudo apt upgrade"
  - Change password by running "passwd"
  - Install Virtualbox guest additions if needed
  - Run any necessary scripts (see the list below)
  - Adjust dvm configuration (including telemetry) with dvmconf
  - Create your projects in the ~/Projects directory

Scripts:
{% for script in scripts | selectattr("Description", "defined") %}
  - {{ script.Name }} ({{ script.Description }})
{% endfor %}

Good luck!
