PHP development VM v{{ version }}
Created:  {{ ansible_date_time.date }}

See this repository for more information:
https://github.com/tgrants/php-dev-vm-ansible

Included tools:
  - PHP and Composer
  - MariaDB and sqlite3
  - VSCode and Git

Next steps:
  - Configure appearance
  - Create your projects in the ~/Projects directory
