#!/usr/bin/env bash
# This script resets the theme to default
#
# (c) Toms Grants, MIT License
# {{ source_url }}
#
# Last updated: 2025-05-29
# File created: {{ ansible_facts.date_time.date }}

xfconf-query -c xsettings -p /Net/ThemeName -s "Adwaita"
xfconf-query -c xsettings -p /Net/IconThemeName -s "Adwaita"
xfconf-query -c xfwm4 -p /general/theme -s "Default"
