---

- name: Install LXQt packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  loop: "{{ lxqt_packages }}"
  become: true

- name: Deploy .xinitrc
  ansible.builtin.template:
    src: xinitrc.j2
    dest: "/home/{{ username }}/.xinitrc"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0644'

- name: Deploy .bash_profile
  ansible.builtin.template:
    src: bash_profile.j2
    dest: "/home/{{ username }}/.bash_profile"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0644'

- name: Ensure override directory for getty@tty1 exists
  file:
    path: /etc/systemd/system/getty@tty1.service.d
    state: directory
    mode: '0755'

- name: Configure systemd autologin override for tty1
  ansible.builtin.template:
    src: getty-override.conf.j2
    dest: /etc/systemd/system/getty@tty1.service.d/override.conf
    mode: '0644'
  notify: Reload systemd

- name: Copy lxqt configuration files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/home/{{ username }}/.config/lxqt/{{ item }}"
    mode: "0644"
  loop: "{{ lxqt_config }}"
